@import './reset.css';

html,
body {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: lightgray black;
}

body {
  overflow-y: scroll;
  height: 100vh;
  color: black;
  font-family: "Times New Roman", sans-serif;
  font-weight: 400;
  font-style: normal;

  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
